

$primary: #00CC88;

$light-blue:#f8fafde7;

@import '../plugins/bootstrap/scss/bootstrap.scss';


@for $i from 1 through 10 {
  .line-clamp-#{$i} {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
  }  
}


